@import "variables.scss";
.BlogPost {
  padding: 1rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  &__img {
    width: 70%;
  }

  &__body {
    font-size: 1.5rem;
  }

  &__author {
    display: flex;
    align-items: center;
    pointer-events: none;
    & img {
      width: 10rem;
      border-radius: 50%;
      margin-right: 3rem;
      border: 5px solid $color-white;
    }

    & div {
      font-size: 3rem;
    }
  }
}

.BackBtn {
  background-color: inherit;
  border: none;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 3rem;
  cursor: pointer;
  background-image: linear-gradient(
    135deg,
    transparent 0%,
    transparent 50%,
    $color-white 50%
  );
  background-size: 300%;
  transition: all 0.4s;

  &:hover {
    color: $color-black;
    background-position: 100%;
    transform: translateY(-0.5rem);
  }
}
